@tailwind base;

@layer base {
  html.v-scrollbar {
    @apply supports-overlay:[overflow-y:overlay] supports-overlay-not:overflow-y-auto
  }

  .v-scrollbar::-webkit-scrollbar,
  .v-scrollbar ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    z-index: 500;
  }
  .v-scrollbar::-webkit-scrollbar-button,
  .v-scrollbar ::-webkit-scrollbar-button {
    display: none;
  }
  .v-scrollbar::-webkit-scrollbar-thumb,
  .v-scrollbar ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-clip: padding-box;
    @apply bg-gray-300 dark:bg-gray-600 bg-opacity-60 dark:bg-opacity-40 hover:bg-opacity-100 dark:hover:bg-opacity-100 border-[transparent] border-solid border-2
  }
  .v-scrollbar::-webkit-scrollbar-track,
  .v-scrollbar::-webkit-scrollbar-corner,
  .v-scrollbar::-webkit-resizer,
  .v-scrollbar ::-webkit-scrollbar-track,
  .v-scrollbar ::-webkit-scrollbar-corner,
  .v-scrollbar ::-webkit-resizer {
    background: transparent;
  }

  /* input {
    outline: none;
  }

  input::-webkit-textfield-decoration-container {
    pointer-events: none;
  }

  input[autocomplete="off"]::-webkit-contacts-auto-fill-button,
  input[autocomplete="off"]::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    height: 0;
    width: 0;
    margin: 0;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--input-autofill-bg) inset !important;

    @apply [--input-autofill-bg:theme(colors.default)] dark:[--input-autofill-bg:theme(colors.default-dark)]
  }

  input:-webkit-autofill {
    -webkit-text-fill-color: var(--input-autofull-text) !important;

    @apply [--input-autofull-text:theme(colors.black.default)] dark:[--input-autofull-text:theme(colors.gray.100)] text-base font-normal
  }

  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  } */
}
